redis-ha:
  enabled: true

controller:
  replicas: 1

server:
  replicas: 1

repoServer:
  replicas: 1

applicationSet:
  replicas: 1

global:
  domain: kubernetes.docker.internal

certificate:
  enabled: true

server:
  ingress:
    enabled: true
    ingressClassName: nginx
    annotations:
       nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
   #   nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
   #   nginx.ingress.kubernetes.io/ssl-passthrough: "true"
    tls: true