name: ci

on:
  push:
    paths: 
        - src/**
    branches:
        - main


jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Set short git commit SHA
        id: var
        run: | 
             IMAGE_TAGS="${GITHUB_SHA::7}"
             echo "IMAGE_TAGS=$IMAGE_TAGS" >> $GITHUB_OUTPUT
      -
        name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          context: .
          file: ./Dockerfile
          tags: myprac/python-app:${{ steps.var.outputs.IMAGE_TAGS }}